<!DOCTYPE html>
<html>
  <head>
    <title>top</title>
  </head>
  <body>
    <h1>メニュー</h1>
    <%= link_to "買い物リストを編集する", items_url %><br>
    <%= link_to "ごはんリストを編集する", meals_url %>
  </body>
</html>
